useDynLib(RandomForestDist, .registration=TRUE)

export(randomForestPredict)
export(randomForestTrain)
export(randomForestSimulate)
import(rpart)
import(progressr)
importFrom(Rcpp, evalCpp)
importFrom(fitdistrplus, fitdist)
